 


<div class="jumbotron bg-dark text-white">
  <h1 class="display-4 text-center">Merci <span>{{title}}</h1>
  <p class="lead  text-center">Nous vous rappelons dans 24h.</p>
  <p class = "text-center">Après l'étude de votre dossier !!!</p>
  <hr class="my-4">
  <a class="btn btn-primary btn-danger" href="index.html" role="button">Retour à l'accueil</a>
</div>